body > h1 {
    color: rgb(73, 73, 73);
    text-align: center;
}
body > h2 {
    color: red;
    text-align: center;

}
body > p {
    color: rgb(73, 73, 73);
    text-align: center;
    font-size: 20px;
}

img {
    object-fit: contain;
    object-position: center;
    display: block;
    margin: 0 auto;
}